@model AdventureWorks.Domain.Response.PersonResponse


<div class="text-center">
    <h1 class="display-4">Welcome @Model.FullName </h1>

    <h3>Emails</h3>
    <dl>
        @foreach (var email in @Model.Emails)
        {
            <dt>@email.Email</dt>
        }
    </dl>

</div>
